@import "tailwindcss";




@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('/mywebsite/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('/mywebsite/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light'), url('/mywebsite/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('/mywebsite/Gilroy-Regular.ttf') format('truetype');
}


body {
    font-family:'Gilroy-Regular', sans-serif;
}
.cart-count{
    position: absolute;
    top: -6px;
    right: -13px;
    width: 20px;
    height:25px;
    background-color: greenyellow  ;
    border-radius: 100%;
    color: white;
}

.banner_section{
  max-width:100%;
  width: 100%;
  min-height: 1084px;
  background-image: url('/src/assets/banner.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;  

}

.form_wrapper{

  max-width: 344px;
  width: 100%;
  height: 56px;
  background: rgba(255,255,255, .15);
  border-radius: 30px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255, .6);
  position: relative;

}

.form_wrapper input{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  background: transparent;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.form_wrapper button{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #e58411;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_name {
  position: fixed;
  top:0;
  right:-110%;
  max-width: 350px;
  width: 100%;
  height: 100dvh;
  background: rgba(255,255, 255,.15);
  z-index: 50;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_name.active {
  right:0%   ;
}